<h1>¡Bienvenido a OhMyDog!</h1>
<p class="lead"> 
Aquí ofrecemos servicios veterinarios de alta calidad. Además contamos con servicios para ayudar a la comunidad.
<br>¡Estamos aquí para servir a los perros y a las personas que los aman!<br>
</p>
<p class="lead fs-6">Si sos cliente, podras iniciar sesion, de lo contrario te invitamos a que te acerques a conocer la veterinaria.</p>
<p class="lead">
<%= link_to "Iniciar sesión", new_user_session_path, class:"btn btn-lg btn-light fw-bold border-white bg-white" %>
</p>