<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Estos son los datos de la persona, contactate con el/ella!</h1>
  <p>Nombre: <%= @name %>,</p>
  <p>Apellido: <%= @lastname %>,</p>
  <p>Telefono: <%= @phone %>,</p>
  <p>Correo: <%= @mail %>,</p>
  
</body>
</html>