<div class="modal modal-sheet position-static d-block p-0 py-md-0 my-5" tabindex="-1" role="dialog" id="modalTour">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-3">
        <div class="text-center my-3">
          <%= render @dog %>
        </div>
        <div class="row g-3 text-center mt-2">
          <% if current_user.admin? %>
            <div class="col-6">
              <%= link_to 'Eliminar perro',@dog, data:{turbo_method: :delete, turbo_confirm: '¿Estas seguro que deseas eliminar a este perro?'}, class: "btn btn-lg btn-outline-danger w-100" %>
            </div>
          <% end %>
          <div class="col-6">
            <%= link_to "Volver atras", dogs_path, class: "btn btn-lg btn-outline-secondary w-100" %>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
