<div class="card-body">
  <p class="card-text"><strong>Zona: </strong><%= caregiver.zone %></p>   
  <p  class="card-text"><strong>Servicios: </strong><%= caregiver.services %></p>
  <p class="card-text"><strong>Correo: </strong><%= caregiver.email %></p>   
  <p  class="card-text"><strong>Teléfono: </strong><%= caregiver.phoneNum %></p>
</div>