<div class="container-fluid mt-4 px-2">
  <h2>Agregar cuidador</h2>
  <hr>
  <%= render "form", caregiver: @caregiver %>

  <div class=""> 
    <div class="container">
      <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="col-md-7 col-lg-8">
          <%= link_to "Volver atras", caregivers_path, class: "btn btn-lg btn-outline-secondary w-100 mt-0 mb-4"%>
        </div>
      </div>
    </div>
  </div>
</div>
