<h1>Editing medical story</h1>

<%= render "form", medical_story: @medical_story %>

<br>

<div>
  <%= link_to "Show this medical story", @medical_story %> |
  <%= link_to "Back to medical stories", medical_stories_path %>
</div>
