<div class="container-fluid mt-4 px-2">
  <div class="modal modal-sheet position-static d-block p-4 py-md-2" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h3 class="modal-title fs-5 ">Confirmar eliminación</h3>
        </div>
        <div class="modal-body py-0">
          <p>¿Estás seguro de que deseas eliminar este turno? Esta acción no tiene marcha atrás.
          <br><strong> Fecha y horario: </strong><%= @appointment.time.strftime("%d/%m/%Y %H:%M") %> hs.</p>
        </div>
        <div class="modal-footer flex-column align-items-stretch w-100 pb-3 border-top-0">
          <%= button_to "Confirmar", @appointment, method: :delete, class:'btn btn-danger w-100' %>
          <%= link_to "Volver atras", appointment_path, class:"btn btn-secondary" %>
        </div>     
      </div>
    </div>
  </div>
</div>
