<h1>Nuevo turno</h1>

<%= render "form", appointment: @appointment %>

<br>

<div class="atencion-message">
  <p>Tenga en cuenta que rabajamos de Lunes a Sabados de 9 a 13, y de 14 a 18 horas. Gracias! </p>
</div>

<div>
  <%= link_to "Volver atras", appointments_path %>
</div>
